{{ define "head" }}
{{ partial "util/compile-scss.html" (dict "source" "scss/page/_cv.scss") }}
{{ end }}
{{ define "main" }}
<section class="cv-heading">
  <div class="cv-heading-photo">
    {{ with $.Page.Resources.GetMatch "photo.webp" }}
    <img class="rounded cv-photo" alt="{{ i18n "MyPhoto" }}" src="{{ .RelPermalink }}"
      width="{{ .Width }}" height="{{ .Height }}" />
    {{ end }}
  </div>
  <div class="cv-heading-text">
    {{ with $.Site.Params.author }}
    <h1>{{ .name }}</h1>
    {{ end }}
      <ul class="cv-links">
        {{ range $.Page.Params.socials }}
        <li>
          {{ $serviceKey := printf "%s%s" "Service_" .id }}
          <a rel="author external noopener" target="_blank" href="{{ .link }}" title="{{ i18n $serviceKey }}">
            {{ with resources.Get (print "icons/symbolic/" .id ".svg") | minify }}
            {{/* FIXME: Consider all SVGs square unless Hugo allows to get their size */}}
            <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" alt="{{ i18n $serviceKey }}"
              width="512" height="512" class="icon-text symbolic" />
            {{ end }}
            {{ .text }}
          </a>
        </li>
        {{ end }}
      </ul>
    <p>
      <strong>{{ i18n "Language" 0  }}:</strong>
      {{ range $index, $value := $.Page.Params.languages }}
        {{ $languageKey := printf "%s%s" "Language_" $value.id }}
        {{ $levelKey := printf "%s%s" "LanguageLevel_" $value.level }}

        {{ i18n $languageKey }} ({{ i18n $levelKey }}){{ if ne $index (math.Sub (len $.Page.Params.languages) 1) }},{{ end }}
      {{ end }}
    </p>
  </div>
</section>
<section>
  <h2 hidden>{{ i18n "AboutMe" }}</h2>
  {{ .Content }}
</section>
{{ range sort ( .Resources.ByType "page" ) "Params.weight" }}
<hr class="cv-section-separator" />
<section>
  <h2>{{ .Title }}</h2>
  {{ .Content }}
</section>
{{ end }}
<hr class="cv-section-separator" />
<section class="cv-footing">
  <p>{{ $.Page.Params.pdf_message }}</p>
</section>
{{ end }}
