<meta charset="utf-8" />
{{ hugo.Generator }}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{{ with $.Site.Params.author }}
<meta name="author" content="{{ .name }}" />
{{ end }}
{{ if $.Page.Description }}
<meta name="description" content="{{ $.Page.Description }}" />
{{ end }}
