{{ define "head" }}
{{ partial "util/compile-scss.html" (dict "source" "scss/page/_notes.scss") }}
{{ end }}

{{ define "main" }}
<section class="notes-heading">
  <h1>{{ $.Page.Title }}</h1>
</section>

<section>
  {{ range .Pages }}
  <div>
    <p>
      <a href="{{ .Permalink }}">{{ .Title }}</a><br />
      <small>{{ .Date | time.Format ":date_long" }}</small>
    </p>
  </div>
  {{ end }}
</section>
{{ end }}
