{{ define "head" }}
{{ partial "util/compile-scss.html" (dict "source" "scss/page/_notes.scss") }}
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>
<p><small>
  <time datetime="{{ .Lastmod | time.Format "2006-01-02T15:04:05-0700" }}">
    {{ .Lastmod | time.Format ":date_long" }}
  </time>
</small></p>

{{ .Content }}

<hr class="notes-footing-separator" />
<p class="notes-footing">
  <a href="{{ .Parent.Permalink }}">{{ i18n "NotesGoBack"}}</a>
</p>
{{ end }}
