@use "../mixins";
@use "code/lovelace";
@use "code/dracula";

.chroma {
  padding: 0.5rem;
  border-radius: 0.3rem;
  overflow-x: scroll;
}

@include mixins.not-dark-theme {
  @include lovelace.theme;
}

@include mixins.dark-theme {
  @include dracula.theme;
}
