@use "../mixins";
@use "../variables";

.dropdown {
  & > .dropdown-title {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    &::after {
      content: variables.$mobile-dropdown-open;
    }
  }

  & > .dropdown-menu {
    padding-left: 0;
    height: 0;
    transform: rotateX(-90deg);
    transform-origin: top center;
    visibility: hidden;
    opacity: 0;
    list-style: none;

    & > .menu-item > a {
      @include mixins.desktop {
        background: none;
        box-shadow: none;

        &:hover,
        &:focus {
          background: rgba(0 0 0 / 4%);

          @include mixins.dark-theme {
            background: rgba(255 255 255 / 5%);
          }
        }
      }
    }
  }

  &:hover,
  &:focus-within {
    & > .dropdown-title {
      &::after {
        content: variables.$mobile-dropdown-close;
      }
    }

    & > .dropdown-menu {
      padding-left: 2rem;
      height: auto;
      transform: rotateX(0);
      visibility: visible;
      opacity: 1;

      @include mixins.allow-animations {
        transition:
          visibility 200ms ease-out,
          transform 200ms ease-out,
          opacity 200ms ease-out;
      }
    }
  }

  @include mixins.desktop {
    position: relative;

    .dropdown-title {
      &::after {
        content: variables.$dropdown-open;
      }
    }

    &:hover,
    &:focus-within {
      & > .dropdown-title {
        &::after {
          content: variables.$dropdown-close;
        }
      }
    }

    .dropdown-menu {
      margin-bottom: 0;
      padding: 0;
      height: auto;
      min-width: variables.$dropdown-width;
      position: absolute;
      z-index: 100;
      top: 100%;
      right: 0;
      background: variables.$background-color;
      box-shadow: variables.$dropdown-menu-shadow;
      border-radius: 0.3rem;

      @include mixins.allow-animations {
        transition:
          visibility 200ms ease-out 200ms,
          transform 200ms ease-out 200ms,
          opacity 200ms ease-out 200ms;
      }

      @include mixins.dark-theme {
        background: variables.$background-color-dark;
      }

      transform: rotateX(-90deg);
      transform-origin: top center;
      visibility: hidden;
      opacity: 0;
      list-style: none;
    }

    &:hover > .dropdown-menu,
    &:focus-within > .dropdown-menu {
      padding: 0;
      transform: rotateX(0);
      visibility: visible;
      opacity: 1;
    }

    .dropdown-menu > .dropdown {
      & > .dropdown-title {
        &::before {
          content: variables.$nested-dropdown-open;
        }

        &::after {
          content: "";
        }
      }

      & > .dropdown-menu {
        top: 0;
        right: 100%;
      }

      &:hover,
      &:focus-within {
        & > .dropdown-title {
          &::before {
            content: variables.$nested-dropdown-close;
          }

          &::after {
            content: "";
          }
        }
      }
    }

    @include mixins.allow-animations {
      transition:
        visibility 200ms ease-out 200ms,
        transform 200ms ease-out 200ms,
        opacity 200ms ease-out 200ms;
    }
  }
}
