@use "../mixins";
@use "../variables";

.nav {
  padding: 0 0 1rem;

  @include mixins.desktop {
    padding: 0;
    box-shadow: variables.$nav-shadow;
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: variables.$background-color;

    @include mixins.dark-theme {
      background: variables.$background-color-dark;
    }

    @include mixins.allow-animations {
      transition-property: background-color, color;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
    }
  }

  @include mixins.print {
    display: none;
  }
}

.nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  column-gap: 1rem;

  @include mixins.desktop {
    margin: 0 auto;
    padding: 0 variables.$horizontal-padding;
    min-height: variables.$nav-height;
    max-height: variables.$nav-height;
    max-width: variables.$content-width - 2 * variables.$horizontal-padding;
    align-items: center;
  }
}

.nav-brand {
  margin: 1rem 0;
  display: block;
  flex-flow: row nowrap;
  justify-content: flex-start;
  column-gap: 1rem;

  @include mixins.desktop {
    display: flex;
    margin: 0;
  }
}

.nav-title {
  margin-bottom: 0;
  display: none;

  @include mixins.desktop {
    display: inline;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.nav-spacer {
  @include mixins.desktop {
    margin: 0 auto;
    display: block;
  }
}

.nav-menu {
  margin-bottom: 0;
  padding-left: 0;
  flex-grow: 1;

  @include mixins.desktop {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    list-style: none;
  }
}

.nav-mobile-separator {
  @include mixins.desktop {
    display: none;
  }
}

.menu-item {
  display: block;

  & > a {
    display: block;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: variables.$button-vertical-padding variables.$button-horizontal-padding;
    border-radius: 0.3rem;
    background: rgba(0 0 0 / 4%);
    box-shadow: variables.$menu-item-shadow;
    margin-bottom: 0.5rem;

    @include mixins.desktop {
      margin-bottom: 0;
      max-width: variables.$button-max-width;
    }

    @include mixins.dark-theme {
      background: rgba(255 255 255 / 5%);
    }

    @include mixins.allow-animations {
      transition: background-color 200ms ease-out;
    }

    &:hover,
    &:focus {
      background: rgba(0 0 0 / 8%);

      @include mixins.dark-theme {
        background: rgba(255 255 255 / 10%);
      }
    }
  }
}

.menu-item.disabled {
  pointer-events: none;
}

.menu-item.active {
  opacity: 0.7;
  font-weight: 700;
}
