@use "../main/mixins";

section {
  @include mixins.print {
    margin-bottom: 2rem;
  }

  > ul {
    padding-left: 0;
    list-style: none;
  }
}

.cv-heading {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  gap: 2rem;
}

.cv-heading-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.cv-photo {
  height: 8rem;
  width: auto;
}

.cv-links {
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;
}

.org-entry {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  gap: 0.8rem;
  margin-bottom: 0.5rem;

  p {
    margin-bottom: 0.5rem;
  }
}

.skill-badge {
  display: inline-block;
  margin: 0 0.3rem 0.2rem 0;
  padding: 0.3rem;
  border-radius: 0.3rem;
  background: rgba(0 0 0 / 10%);
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;

  @include mixins.dark-theme {
    background: rgba(255 255 255 / 10%);
  }
}

.cv-footing p {
  opacity: 0.75;
  font-size: 0.85rem;
}

@include mixins.print {
  .cv-footing {
    display: none;
  }

  .cv-section-separator {
    display: none;
  }
}
