@use "../main/variables";
@use "../main/mixins";

hr:not(:last-child) {
  border-style: dashed;
}

.home-name-section {
  overflow: auto;

  p:first-of-type {
    margin-top: 1rem;
  }
}

.home-links {
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  gap: 1rem;
  list-style: none;

  a {
    filter: drop-shadow(variables.$small-element-shadow);
  }
}

.home-photo {
  margin-bottom: 1rem;
  margin-right: 2rem;
  border-radius: 2rem;
  height: 12rem;
  width: auto;
  float: left;
  box-shadow: variables.$element-shadow;
}
