<!DOCTYPE html>
<html class="backdrop" lang="{{ $.Page.Language.Lang }}">

<head>
  {{ partial "head/metadata.html" . }}
  {{ partial "head/preload.html" . }}
  {{ partial "head/resources.html" . }}
  {{ partial "head/title.html" . }}
  {{ block "head" . }}{{ end }}
</head>

<body class="page">
  <header>
    {{ partial "nav.html" . }}
  </header>
  <main>{{ block "main" . }}{{ end }}</main>
  <p class="page-last-modified-footing">
    {{ i18n "PageLastModified" | markdownify }}:
    <time datetime="{{ .Page.Lastmod | time.Format "2006-01-02T15:04:05-0700" }}" class="text-muted">
      {{ $.Page.Lastmod | time.Format ":date_long" }}
    </time>
  </p>
  <footer class="footer">
    {{ partial "footer" . }}
  </footer>
  {{ partial "analytics" . }}
</body>

</html>
