<hr class="footer-mobile-separator" />
<div class="footer-container">
  <p>{{ $.Site.Copyright | markdownify }}</p>

  <ul class="footer-links">
    <li>
      <a tabindex="0" class="scalable-link scheme-toggle no-js">
        {{ with resources.Get (print "icons/sun.svg") | minify }}
        {{/* FIXME: Consider all SVGs square unless Hugo allows to get their size */}}
        <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" width="512"
          height="512" class="icon-h2" />
        {{ end }}
        {{ with resources.Get (print "icons/moon.svg") | minify }}
        {{/* FIXME: Consider all SVGs square unless Hugo allows to get their size */}}
        <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" width="512"
          height="512" class="icon-h2" />
        {{ end }}
      </a>
    </li>
    <li>
      <a rel="external noopener" target="_blank"
        href="https://gitlab.com/skozharinov/skozharinov.gitlab.io" title="Website source on GitLab"
        class="scalable-link">
        {{ with resources.Get (print "icons/gitlab.svg") | minify }}
        {{/* FIXME: Consider all SVGs square unless Hugo allows to get their size */}}
        <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"
          alt="Website source on GitLab" width="512" height="512" class="icon-h2" />
        {{ end }}
      </a>
    </li>
  </ul>
</div>
