<nav class="nav">
  <div class="nav-container" role="presentation">
    {{/* Add logo and title  */}}
    <div class="nav-brand" role="banner">
      {{ with resources.Get "icons/logo.svg" | minify }}
      {{/* FIXME: Consider all SVGs square unless Hugo allows to get their size */}}
      <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"
        alt="{{ i18n "MyPersonalLogo" }}" width="512" height="512" class="nav-logo icon-h3" />
      {{ end }}
      <h3 class="nav-title">{{ $.Site.Title }}</h3>
    </div>
    <span class="nav-spacer"></span>
    <menu class="nav-menu" role="menubar">
      {{/* Add link to the home page  */}}
      {{ with $.Site.Home }}
      {{ if ne $.Page.RelPermalink .RelPermalink }}
      <li class="menu-item" role="presentation">
        <a href="{{ .RelPermalink }}" title="{{ .Title }}" role="menuitem">{{ .Name }}</a>
      </li>
      {{ end }}
      {{ end }}
      {{/* Add links defined in the main menu  */}}
      {{ range $.Site.Menus.main }}
      {{ $url := .URL | relLangURL }}
      {{ if ne $.Page.RelPermalink $url }}
      <li class="menu-item" role="presentation">
        <a href="{{ $url }}" title="{{ .Title }}" role="menuitem">{{ .Name }}</a>
      </li>
      {{ end }}
      {{ end }}
      {{/* Add language selection menu  */}}
      {{ if $.Page.IsTranslated }}
      <li class="menu-item dropdown" role="presentation">
        <a class="dropdown-title" role="menuitem" aria-haspopup="true" tabindex="0">
          {{ with resources.Get (print "icons/language.svg") | minify }}
          {{/* FIXME: Consider all SVGs square unless Hugo allows to get their size */}}
          <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"
            alt="Language" width="512" height="512" class="icon-text" />
          {{ end }}
          {{ i18n "Language" 1 }}
        </a>
        <menu class="dropdown-menu" role="menu">
          {{ with $.Page.Language }}
          <li class="menu-item disabled active" role="presentation">
            <a role="menuitem">
              {{ $lang := . }}
              {{ with resources.Get (print "icons/" $lang.Lang ".svg") | minify }}
              {{/* FIXME: Consider all SVGs square unless Hugo allows to get their size */}}
              <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"
                alt="{{ $lang.LanguageName }}" width="512" height="512" class="icon-text" />
              {{ end }}
              {{ .LanguageName }}
            </a>
          </li>
          {{ end }}
          {{ range $.Page.Translations }}
          <li class="menu-item" role="presentation">
            <a href="{{ .RelPermalink }}" role="menuitem">
              {{ $lang := .Language }}
              {{ with resources.Get (print "icons/" $lang.Lang ".svg") | minify }}
              {{/* FIXME: Consider all SVGs square unless Hugo allows to get their size */}}
              <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}"
                alt="{{ $lang.LanguageName }}" width="512" height="512" class="icon-text" />
              {{ end }}
              {{ $lang.LanguageName }}
            </a>
          </li>
          {{ end }}
        </menu>
      </li>
      {{ end }}
    </menu>
  </div>
  <hr class="nav-mobile-separator" />
</nav>
