{{ define "head" }}
{{ partial "util/compile-scss.html" (dict "source" "scss/page/_home.scss") }}
{{ end }}
{{ define "main" }}
<section class="home-name-section">
  <h1 hidden>{{ i18n "AboutMe" }}</h1>
  {{ $photo := $.Page.Resources.GetMatch "photo.webp" }}
  <img class="home-photo home-photo-main" alt="{{ i18n "MyPhoto" }}"
    src="{{ $photo.RelPermalink }}" width="{{ $photo.Width }}" height="{{ $photo.Height }}" />
  {{ $.Page.Params.about | markdownify }}
</section>
<hr />
<section>
  <h2 hidden>{{ i18n "MySocials" }}</h2>
  <ul class="home-links">
    {{ range $.Page.Params.socials }}
    <li>
      {{ $serviceKey := printf "%s%s" "Service_" .id }}
      <a rel="author external noopener" target="_blank" href="{{ .link }}" title="{{ i18n $serviceKey }}"
        class="scalable-link">
        {{ $title := .title }}
        {{ with resources.Get (print "icons/symbolic/" .id ".svg") | minify }}
        {{/* FIXME: Consider all SVGs square unless Hugo allows to get their size */}}
        <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" alt="{{ $title }}"
          width="512" height="512" class="icon-h2 symbolic" />
        {{ end }}
      </a>
    </li>
    {{ end }}
  </ul>
</section>
<hr />
{{ end }}
