@use "mixins";
@use "variables";
@use "code";

::after,
::before {
  box-sizing: border-box;
}

html {
  @include mixins.allow-animations {
    scroll-behavior: smooth;
  }

  @include mixins.print {
    font-size: 0.85rem;
  }
}

body {
  font: 400 #{variables.$base-font-size} / #{variables.$line-height} "Roboto Flex";
}

hr {
  margin: 1rem 0;
  border-top: 1px solid currentcolor;
  opacity: 0.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font: 500 #{variables.$base-font-size} / #{variables.$heading-line-height} Montserrat;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: mixins.heading-size($i);
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
  list-style-type: variables.$ul-style;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 1rem;

  ol,
  ul {
    margin-bottom: 0;
  }
}

menu {
  margin-top: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

strong {
  font-weight: 700;
}

a {
  color: variables.$link-color;
  text-decoration: none;

  @include mixins.dark-theme {
    color: variables.$link-color-dark;
  }

  &:hover,
  &:focus {
    color: variables.$hover-link-color;

    @include mixins.dark-theme {
      color: variables.$hover-link-color-dark;
    }
  }

  &:active {
    color: variables.$active-link-color;
    transition: none;

    @include mixins.dark-theme {
      color: variables.$active-link-color-dark;
    }
  }

  @include mixins.print {
    color: variables.$text-color;
  }

  @include mixins.allow-animations {
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }
}

img,
svg {
  vertical-align: middle;

  @include mixins.dark-theme {
    filter: brightness(0.85) contrast(1.2);
  }
}

code {
  font: 300 #{variables.$base-font-size} / #{variables.$line-height} "Fira Code";
}

blockquote {
  background: variables.$quote-background-color;
  border-left: 0.5rem solid variables.$quote-border-color;
  margin: 0 0 1rem;
  padding: 0.5rem 0.8rem;

  @include mixins.dark-theme {
    background: variables.$quote-background-color-dark;
    border-left: 0.5rem solid variables.$quote-border-color-dark;
  }

  p {
    display: inline;
  }
}

.backdrop {
  position: relative;
  background: variables.$background-color;

  @include mixins.dark-theme {
    background: variables.$background-color-dark;
  }

  @include mixins.allow-animations {
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  @include mixins.desktop {
    background: variables.$environment-color;

    @include mixins.dark-theme {
      background: variables.$environment-color-dark;
    }

    min-height: 100vh;
  }
}

.page {
  margin: 0;
  padding: variables.$mobile-vertical-padding variables.$mobile-horizontal-padding;
  color: variables.$text-color;
  min-width: variables.$min-page-width;

  @include mixins.dark-theme {
    color: variables.$text-color-dark;
  }

  @include mixins.allow-animations {
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  @include mixins.print {
    padding: variables.$print-vertical-padding variables.$print-horizontal-padding;
  }

  @include mixins.desktop {
    $top-margin: variables.$nav-height + variables.$vertical-padding;
    $bottom-margin: variables.$footer-height + variables.$vertical-padding;

    margin: $top-margin auto $bottom-margin;
    padding: variables.$vertical-padding variables.$horizontal-padding;
    max-width: variables.$content-width - 2 * variables.$horizontal-padding;
    background: variables.$background-color;
    box-shadow: variables.$page-shadow;
    border-radius: 0.3rem;

    @include mixins.dark-theme {
      background: variables.$background-color-dark;
    }
  }
}

.page-last-modified-footing {
  opacity: 0.75;
  font-size: 0.85rem;

  @include mixins.print {
    display: none;
  }
}

.icon {
  &-text {
    display: inline-block;
    vertical-align: variables.$line-height * -20%;
    margin: 0 0.15em 0 0;
    height: variables.$base-font-size * variables.$line-height;
    width: auto;
  }

  @for $i from 1 through 6 {
    &-h#{$i} {
      display: inline-block;
      vertical-align: variables.$heading-line-height * -20%;
      margin: 0 0.15em 0 0;
      height: mixins.heading-size($i) * variables.$heading-line-height;
      width: auto;
    }
  }
}

.scalable-link {
  display: inline-block;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1.2);
    transition: none;
  }

  @include mixins.allow-animations {
    transition: transform 200ms ease-out;
  }
}

.symbolic {
  opacity: 0.8;

  @include mixins.dark-theme {
    filter: invert(1);
  }
}

.rounded {
  border-radius: 50%;
}

.scheme-toggle {
  user-select: none;
}

.no-js {
  display: none !important;
}