@use "mixins";
@use "variables";

.footer {
  padding: 0;
  background: variables.$background-color;

  @include mixins.dark-theme {
    background: variables.$background-color-dark;
  }

  @include mixins.allow-animations {
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  @include mixins.desktop {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: variables.$footer-shadow;
  }

  @include mixins.print {
    display: none;
  }
}

.footer-container {
  & > p {
    margin-bottom: 0.5rem;

    @include mixins.desktop {
      margin-bottom: 0;
    }
  }

  @include mixins.desktop {
    margin: 0 auto;
    padding: 0 variables.$horizontal-padding;
    min-height: variables.$footer-height;
    max-width: variables.$content-width - 2 * variables.$horizontal-padding;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }
}

.footer-links {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  list-style: none;

  & > li {
    display: block;

    & > a {
      display: block;
      border: none;
      padding: variables.$button-vertical-padding;
      border-radius: 0.3rem;
      background: rgba(0 0 0 / 4%);
      box-shadow: variables.$menu-item-shadow;
      margin-bottom: 0.5rem;

      @include mixins.desktop {
        margin-bottom: 0;
        max-width: variables.$button-max-width;
      }

      @include mixins.dark-theme {
        background: rgba(255 255 255 / 5%);
      }

      @include mixins.allow-animations {
        transition: background-color 200ms ease-out;
      }

      &:hover,
      &:focus {
        background: rgba(0 0 0 / 8%);

        @include mixins.dark-theme {
          background: rgba(255 255 255 / 10%);
        }
      }

      & > img {
        height: variables.$base-font-size * variables.$line-height;
      }
    }
  }
}

.footer-mobile-separator {
  @include mixins.desktop {
    display: none;
  }
}
