@use "variables";

@mixin desktop {
  @media screen and (min-width: variables.$content-width) {
    @content;
  }
}

@mixin print {
  @media print {
    @content;
  }
}

@mixin not-dark-theme {
  @media not screen, not (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin dark-theme {
  @media screen and (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin allow-animations {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}

@function heading-size($heading-num) {
  @return (variables.$base-font-size + variables.$heading-font-grow * (6 - $heading-num));
}
