/* Sizes */
$base-font-size: 1rem;
$heading-font-grow: 0.3rem;
$line-height: 1.4;
$heading-line-height: 1.2;
$min-page-width: 20rem;
$content-width: 60rem;
$vertical-padding: 1.5rem;
$horizontal-padding: 2.5rem;
$mobile-vertical-padding: 1rem;
$mobile-horizontal-padding: 1.5rem;
$print-vertical-padding: 3rem;
$print-horizontal-padding: 3rem;
$button-vertical-padding: 0.5rem;
$button-horizontal-padding: 1rem;
$button-max-width: 10rem;
$nav-height: 4rem;
$footer-height: 3.5rem;
$dropdown-width: 7.5rem;

/* Colors */
$text-color: #212121;
$link-color: #0000e0;
$hover-link-color: #000060;
$active-link-color: #8b0000;
$background-color: #fff;
$environment-color: #efefef;
$quote-background-color: #fafafa;
$quote-border-color: #cdcdcd;

/* Symbols */
$ul-style: "\2022\2002";
$dropdown-open: "\2002\25BE";
$dropdown-close: "\2002\25B4";
$nested-dropdown-open: "\25C2\2002";
$nested-dropdown-close: "\25B8\2002";
$mobile-dropdown-open: "\2002\25BE";
$mobile-dropdown-close: "\2002\2A2F";

/* Shadows */
$page-shadow: 0.25rem 0.25rem 0.5rem rgba(0 0 0 / 10%);
$element-shadow: 0.15rem 0.15rem 0.25rem rgba(0 0 0 / 10%);
$small-element-shadow: 0.05rem 0.05rem 0 rgba(0 0 0 / 10%);
$footer-shadow: 0 -0.15rem 0.15rem 0 rgba(0 0 0 / 10%);
$dropdown-menu-shadow: 0 0.15rem 0.25rem rgba(0 0 0 / 25%);
$menu-item-shadow: 0 0.15rem 0.25rem rgba(0 0 0 / 20%);
$nav-shadow: 0 0.15rem 0.15rem 0 rgba(0 0 0 / 10%);

/* Dark Colors */
$text-color-dark: #eee;
$link-color-dark: #42a5f5;
$hover-link-color-dark: #b39ddb;
$active-link-color-dark: #ef9a9a;
$background-color-dark: #303030;
$environment-color-dark: #202020;
$quote-background-color-dark: #2a2a2a;
$quote-border-color-dark: #575757;
