{{ $title := (.Get "title") }}
{{ $company := (.Get "company") }}
{{ $website := (.Get "website") }}
{{ $icon := (print "icons/" (.Get "icon") ".svg") }}
{{ $start_date := (.Get "start_date") }}
{{ $end_date := (.Get "end_date") }}
{{ $summary := (.Inner | markdownify) }}

<li class="org-entry">
  {{ with resources.Get $icon | minify }}
  {{/* FIXME: Consider all SVGs square unless Hugo allows to get their size */}}
  <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}" alt="Icon for {{ $company }}"
    width="512" height="512" class="icon-h2" />
  {{ end }}
  <div>
    <p>
      <strong>{{ $title }}</strong>
      &mdash;
      <strong>
        <a href="{{ $website }}" rel="external noopener nofollow" target="_blank">{{ $company }}</a>
      </strong>
      <br>
      {{ $start_date }} &ndash; {{ $end_date }}
    </p>
    {{ $summary }}
  </div>
</li>
